body {
  margin: 2rem auto;
  max-width: 800px;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  background: #f1f1f1;
}
.campos {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.container_campo_nome,
.container_campo_email,
.container_campo_celular {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
.adicionar {
  font-weight: bold;
  align-self: end;
}
.feedback {
  display: flex;
}
.valores {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
input {
  box-shadow: 2.5px 2.5px 5px gray;
}
.campo {
  padding: 1rem;
  border-radius: 1rem;
  background: #fff;
  box-shadow: 2.5px 2.5px 5px gray;
}
